#navBar{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	background-color: 330033;
}

nav{
	margin: auto;
	text-align: center;
}

#navTable{
	margin: auto;
	text-align: center;
	font-size: 1.2em;
}

.navTD:hover{
	background-color: 660066;
}
.navTD{
	width: 170px;
}

a{
	display: block;
}

a:link{
	color: 990033;
	text-decoration: none;
}

a:visited{
	color: 990033;
	text-decoration: none;
}