<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
        <title>GET and POST Request Test Site </title>
</head>
<body>
	<h2>Enter a POST request or GET request in the URL</h2>
        {{{body}}}
</body>
</html>
